.docPage{

  background-image:linear-gradient(white, rgb(235, 235, 235));
	width: 100%;
	/* height: 100vh; */
  position: relative;
	display: grid;
	grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows: auto;
}
.docs{
  grid-column: 2/3;
}
