.imgStyle {
	background: url(../Overlay.png) top center;
	width: 100%;
	height: 100vh;
  position: relative;
  text-align: unset;
  filter: sepia(1);
  -webkit-filter: sepia(1);
	display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr;
};

.diagonal{
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: #fff;
  float: left;
  z-index: 1000;
}
.homeleft{
  position: absolute;
  bottom: 0;
  left: 0;
  background: none;
  z-index: 99;
}

.homeright{
  position: absolute;
  bottom: 0;
  right: 0 !important;
  background: none;
  z-index: 99;
  left: auto;
}

.homeleft, .homeright path {
  stroke: white;
  stroke-width: 4;
}

.typed{
  text-align: left;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  color: white;
}
.social{
  text-align: left;
  grid-column: 2/3;
  grid-row: 3/4;
}
.socialIcons {
  color: #fff;
  height: 40px;
  padding-right: 10px;
}
