@import "../sass/variables.scss";

.resume {
	display: grid;
  grid-template-areas: "h1 h1" "card1 card2" "card3 card3";
  grid-template-rows: 10vh auto auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
	h1 {
    grid-area: h1;
		font-size: 1.5rem;
		flex-grow: 2;
	}
	.card {
    /* Add shadows to create the "card" effect */
    &:first-child {
      grid-area: card1;
    }
    &:nth-child(2) {
      grid-area: card2;
    }
    &::nth-child(3) {
      grid-area: card3;
    }
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: min-content;
		h2 {
      font-size: 1.2rem;
      background-color: rgb(221, 221, 221);
		}
		/* On mouse-over, add a deeper shadow */
		&:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		}
		.ligneA,
		.ligneB {
      display: flex;
      padding: 10px;
			flex-flow: row wrap;
			list-style: none;
      text-align: center;
      justify-content: center;

			li {
				vertical-align: middle;
        text-decoration: none;
        width: 100px;
        padding: 10px;
				img {
					width: 40px;
				}
			}
		}
	}
}
