@import "../sass/main.scss";

.header {

    display: grid;
    grid-template-areas: "logo menu" "logo menu";
    width: 100vw;
    z-index: 10;
  .logo {
    visibility: visible;
    grid-area: logo;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    margin-left: 20px;
    height: 40px;
    width: 40px;
    img {
      border-radius: 100%;
      width: 100%;
    }
  }
	.navLinks {
    grid-area: menu;
		display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    margin-right:20px;    
    justify-items: center;
    justify-content: right;
    text-transform: uppercase;
    font-size: 0.8rem;

    a {
      text-decoration: none;
      padding: 0 10px;
      cursor: pointer;
      transition: all 0.2s ease; 
      &:hover {
        transform: scale(1.03);
      }
    }
	}
  .burger {
    display: none;
    grid-area: menu;
    justify-self: end;
    border: none;
    background: none;
    outline: none;
    margin-right: 20px;

    width: 40px;
    &:after, 
    &:before, 
    div {
      border-radius: 5px;
      content: '';
      display: block;
      height: 2px;
      margin: 7px 0;
      transition: all .2s ease;
    }
    &:hover:before {
      transform: translateY(9px) rotate(135deg);
    }
    
    &:hover:after {
      transform: translateY(-9px) rotate(-135deg);
    }
    
    &:hover div {
      transform: scale(0);
    }
  }  
}  
.transpNav {
  height: 10vh;
  transition: all 0.5s ease;
  .burger:after, 
  .burger:before, .burger div {
    background-color: white;
  }
  .navLinks {
    a {
      color: $text-color-light;
    }
  }  
}
.blackNav {
  background-color: #111;
  height: 8vh;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  transition: all 0.5s ease;
  .burger:after, 
  .burger:before, .burger div {
    background-color: $text-color-grey;
  }
  .navLinks {
  transition: all 0.5s ease;
    a {
    color: $text-color-navlight;
    &:active {
      color: $text-color-white;
    }
    &:hover {
      color: $text-color-white;
    }
    }
  }
}

  @media (max-width: 700px) {
    .cross {
        grid-template-areas: "logo menu" "navbar navbar";

      .navLinks {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
        grid-row-gap: 20px;
        grid-area: navbar;
        
        padding: 10px 0 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;  
        justify-content: center;
        margin: 0;    
        a {
          color: $text-color-navlight;
        }
      }
      .burger {
        display: block;
      }
    }
    .paralel {
      grid-template-areas: "logo menu";
      .navLinks {
        display: none;
      }
      .burger {
        display: block;
      }
    }
    .cross.transpNav {
      grid-template-rows: 10vh;
    }
    .cross.blackNav {
      grid-template-rows: 8vh;      
    }
    .transpNav {
      .navLinks {
        background-color: transparent;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }
    .blackNav {
      .navLinks {
        background: transparentize($color: black, $amount: 0.1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }


