.Header{
  position: sticky;
  top: 0;
  z-index: 5;
}
.Header div{
  display: grid;
  grid-template-areas: "logo nav";
  grid-template-rows: 80px;
  background: white;
  color: black;
}
.Header img{
  height: 100%;
}
.navLinks{
  grid-area: "nav";
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}
.navLinks a{
  color: black;
  text-decoration: none;
}
.noNav{
  visibility: hidden;
  opacity: 0;
}
.fixedNav {
  visibility: visible;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  transition: all 1s ease;
  opacity: 0.95;
}

