@import "../sass/variables.scss";

.header {

		display: grid;
    grid-template-areas: "logo navbar";
    width: 100vw;
    height: 10vh;
    z-index: 10;
  .logo {
    visibility: hidden;
    grid-area: logo;
    height: 8vh;
    align-self: center;
  }
	.navLinks {
    grid-area: navbar;
		display: grid;
		grid-template-columns: repeat(3, auto);
		align-items: center;
		justify-items: center;

	}
  .burger {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;  
    &:active {
      transform: scale(1.1);
    }
  }  
}  
.transpNav {
  background-color: transparent;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  border-bottom: 1px solid gray;
  .navLinks {
    a {
      color: $text-color-light;
      text-decoration: none;
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }  
}
.whiteNav {
  background-color: #fff;
  transition: all 0.5s ease;
  border-bottom: 1px solid gray;
  .navLinks {
    a {
    color: $text-color-dark;
    transition: all 0.5s ease;
    text-decoration: none;
    &:hover {
      transform: scale(1.1);
    }
    }
  }
}

  @media (max-width: 700px) {
    .header {
        grid-template-rows: 10vh auto;
        grid-template-areas: " logo burger" "navbar navbar"; 
      .navLinks {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: none;
        grid-row-gap: 20px;
    
        padding: 30px 0 30px;
        background: rgba(40, 44, 47, 0.95);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;      
      }
      .burger {
        display: inline;
        &:active {
          transform: scale(1.2);
        }
      }
    }
  }


