nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background: white;
  color: black;
}

.navLinks{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navLinks a{
  color: black;
  text-decoration: none;
}
.noNav{
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
}
.fixedNav {
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  transition: all 3s ease;
  opacity: 1;
}

