.App{
  font-family: "Montserrat", sans-serif;
  
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: auto 1fr 8vh;
  grid-template-areas:
    "header"
    "body"
    "footer";
  .header {
    grid-area: header;
    position: fixed;
    top: 0;
  }
  .body, .reduxPage {
    grid-area: body;
  }
  .footer {
    grid-area: footer;
  }
}

